body {
    background-color: azure;
    
}

button {
    width: 200px;
    height: 100px;
    border-radius: 15%;
}

.buttons{
    height: 100%;
    width: auto;
    margin: 0 auto;
    display: inline-block;
}