body {
    background-color: azure;
    margin: 0 auto;
}

button {
    width: 200px;
    height: 100px;
    border-radius: 15%;
}

div {
    background-color: white;
}

.buttons{
    height: 100%;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.primary {
    width: 400px;
    grid-row: 1;
    grid-column: 1/2;
}

.secondaryL {
    grid-row: 2;
    grid-column: 1;
}

.secondaryR {
    grid-row: 2;
    grid-column: 2;
}